[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
paho-mqtt = "==1.*"
pyyaml = "*"
requests = "*"
apprise = "*"

[dev-packages]

[requires]
python_version = "3.12"
