[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
paho-mqtt = "*"
pyyaml = "*"
pure-cdb = "*"
disnake = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
